<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLab"
        tools:targetApi="31">
<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="@string/map_key" />-->


        <activity android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".FragmentStatic"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".FragmentDynamic"
            android:exported="true">
      </activity>

        <activity android:name=".EventListener"
            android:exported="true"/>

        <activity android:name=".FirstActivity"
            android:exported="true"></activity>


        <activity android:name=".SecondActivity"
            android:exported="true"/>

        <activity android:name=".DataSender"
            android:exported="true">

              </activity>

        <activity android:name=".DataReceiver"
            android:exported="true"/>
        <activity android:name=".ListViewExample"
        android:exported="true"/>

        <activity android:name=".GridViewExample"
            android:exported="true"/>
        <activity android:name=".RecyclerViewMain"
            android:exported="true"/>

        <activity android:name=".MenuActivity"
            android:exported="true"/>

        <activity android:name=".FormDataSend"
            android:exported="true">

        </activity>
<!--        <activity-->
<!--            android:name=".MapActivity"-->
<!--            android:exported="true"-->
<!--            android:label="@string/title_activity_maps"/>-->

    </application>

</manifest>